<!--<mat-toolbar class="topbar relative mat-toolbar mat-primary mat-toolbar-single-row" color="primary" style="width:100%; ">
  <mat-toolbar-row width="100%" class="mx-auto">
    <div class="flex-box d-flex flex-row" style="width:100%; display: flex">
      <a class="menu-element" routerLink="/categories">Task Categories</a>
      <a class="menu-element" routerLink="/categories">Tasks</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-body">
  <mat-sidenav-container>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>-->

<app-sidebar></app-sidebar>
