.grid-container {
  margin-right : 2%;
}

.dashboard-card {
  width:90%;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-list {
  padding-bottom: 10px;
}

.more-button {
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.mat-grid-tile-block {
  position: relative;
  padding-top: 10px;
}
