
  <mat-grid-list class="dashboard-list" cols="2">
    @for (card of cards | async; track card) {

      <mat-grid-tile class="mat-grid-tile-block" [colspan]="card.cols" [rowspan]="card.rows">

        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <app-view-task-categories></app-view-task-categories>
            </mat-card-content>
        </mat-card>

      </mat-grid-tile>

    }
  </mat-grid-list>
