<div class="container">
  <div [hidden]="isSubmitted">
    <form (ngSubmit)="onSubmit()" #editTaskCategoryForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               [(ngModel)]="editTaskCategory.name" name="name" value="{{data.name}}"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="editTaskCategory.description" name="description" value="{{data.description}}"
               #name="ngModel">
      </div>
      <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" type="button" class="btn btn-cancel" mat-dialog-close="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit" class="btn btn-success" (click)="EditTaskCategory()">Submit</button>
      </div>
    </form>
  </div>
</div>
